@media screen and (max-width: 576px) {
  .header-container {
    height: 60rem;
  }
  .navlinks ul {
    display: none;
  }

  #ham-burger {
    display: block;
  }

  .banner-section {
    flex-direction: column;
    margin-top: 36px;
  }

  .right-image .eclips {
    display: none;
  }

  .bike-content {
    width: 95%;
  }

  .right-image {
    margin-top: 56px;
  }

  .right-image img {
    width: 70%;
    height: 260px;
  }

  .top-nav {
    max-width: 100%;
  }

  .bike-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 100px;
  }

  #bottom-line {
    display: none;
  }

  .bike-collection .h2-title {
    font-size: 1.563rem;
    margin-bottom: 7px;
  }

  .featured-main {
    height: fit-content;
  }

  .bike-collection {
    height: fit-content;
  }

  .bike-posts-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 17px;
  }

  .latest-news {
    max-width: 89%;
    height: fit-content;
  }

  .latest-news .h2-title {
    font-size: 36px;
    text-align: left;
  }

  .post {
  }

  .news-main {
    height: 131rem;
  }
}
