@media screen and (max-width: 576px) {
  .header-container {
    height: 60rem;
  }
  .navlinks ul {
    display: none;
  }

  #ham-burger {
    display: block;
  }

  .banner-section {
    flex-direction: column;
    margin-top: 36px;
  }

  .right-image .eclips {
    display: none;
  }

  .bike-content {
    width: 95%;
  }

  .right-image {
    margin-top: 56px;
  }

  .right-image img {
    width: 70%;
    height: auto;
  }

  .top-nav {
    max-width: 100%;
  }

  .bike-grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 100px;
  }

  #bottom-line {
    display: none;
  }

  .bike-collection .h2-title {
    font-size: 1.563rem;
    margin-bottom: 7px;
  }

  .featured-main {
    height: fit-content;
  }

  .bike-collection {
    height: fit-content;
  }

  .latest-news {
    max-width: 100%;
    height: fit-content;
    padding: 0 10px;
  }

  .latest-news .h2-title {
    font-size: 28px;
    text-align: left;
    padding-left: 46px;
  }

  .bike-posts-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .post {
    width: 85%;
    height: auto;
    padding: 20px;
    margin-bottom: 20px;
  }

  .post img {
    width: 100%;
    height: auto;
  }

  .post .h5-title {
    font-size: 20px;
  }

  .post .desc {
    font-size: 14px;
  }

  .post .read-more,
  .post .read-more2 {
    width: 60%;
    padding: 10px;
    font-size: 16px;
  }

  .news-main {
    height: auto;
  }
}
