/* font-family: "Manrope", sans-serif; */
/* font-family: "Inter", sans-serif;
font-family: "Poppins", sans-serif; */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* global css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.display-flex {
  display: flex;
}

/* header section style */
.header-container {
  width: 100%;
  height: 43.625rem;
  background: rgb(38, 70, 83);
}

.top-nav {
  margin: 0 auto;
  max-width: 76%; /*1446px*/
  /* border: 1px solid red; */
  padding: 42px;
}

nav.menu {
  justify-content: right;
}

.menu ul {
}

.navlinks ul li {
  list-style: none;
  margin-right: 36px;
  margin-top: 10px;
}

.navlinks ul li a {
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
}

.top-right {
  padding: 10px 24px 10px 24px;
  border-radius: 5px;
  background: rgb(231, 111, 81);
  border: none;
  font-family: Poppins;
  font-size: 1rem;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
}

#ham-burger {
  color: #fff;
  margin-top: 10px;
  font-size: 25px;
  margin-left: 36px;
  display: none;
}

/* banner section */

.banner-section {
  /* border: 1px solid red; */
  max-width: 69%;
  height: 27.938rem;
  margin: 69px auto;
  /* align-items: center; */
  justify-content: space-between;
}

.bike-content {
  width: 465px;
  /* border: 1px solid red; */
  margin-right: 93px;
}

.bike-content .h6-title {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #fff;
  text-align: left;
}

.bike-content .h2-title {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 72px;
  color: #fff;
}

.bike-content .honda-desc {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  color: #fff;
  margin-top: 18px;
}

.btn-purchase {
  width: 168px;
  height: 44px;
  padding: 10px;
  border-radius: 5px;
  background: rgb(231, 111, 81);
  border: none;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: #fff;
  margin-top: 21px;
}

.right-image {
  width: 552px;
  height: 447px;
  /* border: 1px solid red; */
}

.right-image img {
  position: absolute;
  z-index: 2;
}

.eclips::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  background-image: url("../images/others/eclips1.png");
  background-size: contain;
  /* top: 30%; */
  right: 19%;
}

/* featured bike styles */
.featured-main {
  width: 100%;
  height: 43.313rem;
  background: #fff;
  /* border: 1px solid red; */
}

.bike-collection {
  margin: 0 auto;
  max-width: 76%;
  height: 34.75rem;
  /* border: 1px solid red; */
  margin-top: 70px;
  text-align: center;
}

.bike-collection .h2-title {
  font-family: Poppins;
  font-size: 3rem;
  font-weight: 600;
  color: #000;
}

span.collection-title {
  font-family: Poppins;
  font-size: 0.875rem;
  font-weight: 600;
  color: #e76f51;
  position: relative;
}

#bottom-line {
  position: absolute;
  width: 58px;
  border: 1px solid rgb(231, 111, 81);
  margin-left: -5%;
  margin-top: 1.5%;
}

.bike-grid {
  margin-top: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

img#bike1,
#bike3 {
  filter: grayscale(1);
}
